<?xml version="1.0"?>

<configuration>

    <system.web>
      <compilation debug="false" targetFramework="4.0" />
        <pages>
          <controls>
            <add tagPrefix="contact" src="~/controls/contactus.ascx" tagName="contactus"/>
          </controls>
        </pages>
    </system.web>
  <appSettings>
    <add key="to" value="info@aiit.sa"/>
    <add key="from" value="info@aiit.sa"/>
  </appSettings>


  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network
          host="smtp.aiit.sa"
          port="25"
          enableSsl="false"
          userName="info@aiit.sa"
          password="01230123"
        />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
